* {
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family: 'statosskyeng';
      src: url('./Web_fonts/stratosskyengweb-black.woff') format('woff');
    font-weight: 'black';  
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
      src: url('./Web_fonts/stratosskyengweb-bold.woff') format('woff');
    font-weight: 'bold';  
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
      src: url('./Web_fonts/stratosskyengweb-extralight.woff') format('woff');
    font-weight: 'extralight';  
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
      src: url('./Web_fonts/stratosskyengweb-light.woff') format('woff');
    font-weight: 'light';  
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
      src: url('./Web_fonts/stratosskyengweb-medium.woff') format('woff');
    font-weight: 'medium';  
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
      src: url('./Web_fonts/stratosskyengweb-regular.woff') format('woff');
    font-weight: 'regular';  
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
      src: url('./Web_fonts/stratosskyengweb-semibold.woff') format('woff');
    font-weight: 'semibold';  
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
      src: url('./Web_fonts/stratosskyengweb-semilight.woff') format('woff');
    font-weight: 'semilight';  
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
      src: url('./Web_fonts/stratosskyengweb-thin.woff') format('woff');
    font-weight: 'thin';  
    font-style: normal;
}
  
.body {
    background: #004980;

}

.game {
    // width: 100%;
    // height: 100%;
    background: #004980;
    // position: relative;
    // margin: 0 auto;
    // margin-left: auto;
    // margin-right: auto;
    

    &_lvl {

        // position: relative;
        // margin-left: auto;
        // margin-right: auto;
        // margin-top: 40%;
        position: absolute;
        left: 40%; /* Положение слоя от левого края */
        top: 40%;
       

        width: 480px;
        height: 459px;
        background-color: #C2F5FF;
        border-radius: 12px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
        // margin-top: 158px;
        // margin-left: 272px;
        &-title {
            font-family: 'statosskyeng';
            font-weight: medium ;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            color: #004980;
            width: 208px;
            height: 96px;
        }
        &-dif {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 24px;
        }
        &-inputs {
            
            width: 98px;
            height: 98px;
            background: #FFFFFF;
            border-radius: 12px;
        }
        &-label {
            display: flex;
            font-family: 'stratosskyeng';
            font-size: 64px;
            line-height: 72px;
            color: #0080C1;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 98px;
            height: 98px;
        }
        &-input {
            display: none;
        }
        &-btn {
            width: 246px;
            height: 50px;
            background: #7AC100;
            border-radius: 12px;
            font-family: 'statosskyeng';
            font-size: 24px;
            line-height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
}

.game_lvl-inputs:hover {
    box-sizing: border-box;
    outline: 3px solid #248ad7;
    border-radius: 14px;
    transition: .1s;
  }

  .active {
    color: aliceblue;
  }
  
  