* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'statosskyeng';
    src: url('./Web_fonts/stratosskyengweb-black.woff') format('woff');
    font-weight: 'black';
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
    src: url('./Web_fonts/stratosskyengweb-bold.woff') format('woff');
    font-weight: 'bold';
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
    src: url('./Web_fonts/stratosskyengweb-extralight.woff') format('woff');
    font-weight: 'extralight';
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
    src: url('./Web_fonts/stratosskyengweb-light.woff') format('woff');
    font-weight: 'light';
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
    src: url('./Web_fonts/stratosskyengweb-medium.woff') format('woff');
    font-weight: 'medium';
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
    src: url('./Web_fonts/stratosskyengweb-regular.woff') format('woff');
    font-weight: 'regular';
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
    src: url('./Web_fonts/stratosskyengweb-semibold.woff') format('woff');
    font-weight: 'semibold';
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
    src: url('./Web_fonts/stratosskyengweb-semilight.woff') format('woff');
    font-weight: 'semilight';
    font-style: normal;
}
@font-face {
    font-family: 'statosskyeng';
    src: url('./Web_fonts/stratosskyengweb-thin.woff') format('woff');
    font-weight: 'thin';
    font-style: normal;
}

.body {
    background: #004980;
}
.game_sections {
    position: relative;
    width: 1035px;
    height: 774px;
}
.game {
    position: absolute;
    width: 1135px;
    height: 774px;
    background-image: url(./cards/backgroung.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: 10px 40px;
    // left: 10%;
    // top: 10%;
    z-index: 1;

    &_lvl {
        position: absolute;
        left: 40%;
        top: 40%;

        width: 480px;
        height: 459px;
        background-color: #c2f5ff;
        border-radius: 12px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
        transform: translate(-25%, -35%);
        &-title {
            font-family: 'statosskyeng';
            font-weight: medium;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            color: #004980;
            width: 208px;
            height: 96px;
        }
        &-dif {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 24px;
        }
        &-inputs {
            width: 98px;
            height: 98px;
            background: #ffffff;
            border-radius: 12px;
        }
        &-label {
            display: flex;
            font-family: 'stratosskyeng';
            font-size: 64px;
            line-height: 72px;
            color: #0080c1;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 98px;
            height: 98px;
        }
        &-input {
            display: none;
        }
        &-btn {
            width: 246px;
            height: 50px;
            background: #7ac100;
            border-radius: 12px;
            font-family: 'statosskyeng';
            color: white;
            font-size: 24px;
            line-height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &_timer {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        &-min {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &-sek {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &-text {
            font-family: 'stratosskyengweb-light';
            font-size: 16px;
            line-height: 32px;
            position: relative;
            margin-bottom: -17px;
            color: white;
        }
        &-minnum {
            font-family: 'stratosskyengweb-light';
            font-size: 64px;
            line-height: 72px;
            color: white;
        }
        &-seknum {
            font-family: 'stratosskyengweb-light';
            font-size: 64px;
            line-height: 72px;
            color: white;
        }
        &-comma {
            font-family: 'stratosskyengweb-light';
            font-size: 64px;
            line-height: 72px;
            color: white;
        }
    }
    &_header {
        display: flex;
        flex-direction: row;
        width: 978px;
        justify-content: space-between;
        align-items: center;
    }
    &_field {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 55px;
        width: 978px;
        perspective: 1000px;
        justify-content: space-between;
        &-cardback {
            width: 95px;
            height: 133px;
            position: absolute;
            border-radius: 5px;
            border-radius: 5px;
            background: #1c7ccc;
            backface-visibility: hidden;
            // width: 100%;
            // height: 100%;
            // background: #282a3a;
            // transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
            // backface-visibility: hidden;

            // transform: rotateY(180deg) rotateZ(50deg);
            // user-select: none;
        }
        &-cardfront {
            width: 95px;
            height: 133px;
            position: absolute;
            border-radius: 5px;
            border-radius: 5px;
            background: #1c7ccc;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            // width: 100%;
            // height: 100%;
            // background: #282a3a;
            // transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
            // backface-visibility: hidden;
        }
        &-cardimg {
            width: 95px;
            height: 133px;
        }
        &-card {
            position: relative;
            // width: 100px;
            // height: 100px;
            width: 95px;
            height: 133px;
            cursor: pointer;
            transform-style: preserve-3d;
            transition: transform 0.5s;
        }
    }
    &_playscreen {
        position: absolute;
        left: 10%;
        top: 10%;
    }
}

.result {
    position: relative;

    width: 1035px;
    height: 774px;
    // z-index: 2;
    // background: rgba(0, 0, 0, 0.2)
    &_field {
        position: absolute;
        width: 480px;
        height: 459px;
        background-color: #c2f5ff;
        border-radius: 12px;
        top: 50%;
        transform: translate(66%, -50%);
    }
    &_frame {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        &-win {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-loose {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-time {
            padding-top: 30px;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        &-img {
            width: 96px;
            height: 100px;
            text-align: center;
        }
        &-youwin {
            font-family: 'statosskyeng';
            font-weight: medium;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            color: #004980;
        }
        &-youloose {
            font-family: 'statosskyeng';
            font-weight: medium;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            color: #004980;
        }
        &-timetxt {
            font-family: 'statosskyeng';
            font-weight: medium;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
        }
        &-timenum {
            font-family: 'statosskyeng';
            font-weight: medium;
            font-size: 64px;
            line-height: 72px;
            text-align: center;
        }
        &-btn {
            width: 246px;
            height: 50px;
            background: #7ac100;
            border-radius: 12px;
            font-family: 'statosskyeng';
            color: white;
            font-size: 24px;
            line-height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            cursor: pointer;
        }
    }
}

// .game_field-card.flipped .game_field-cardfront {
//     transform: rotateY(180deg) rotateZ(50deg);
// }

// .game_field-card.flipped .game_field-cardback {
//     transform: rotateY(0) rotateZ(0);
// }

.result_field::after {
    content: '';
    background: url(./cards/backgroundcolor.jpg);
    opacity: 0.9;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // right: 0;
    // position: absolute;
    z-index: -1;
}
.game_field-card.flip {
    transform: rotateY(180deg);
}

.game_field-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.game_lvl-inputs:hover {
    box-sizing: border-box;
    outline: 3px solid #248ad7;
    border-radius: 14px;
    transition: 0.1s;
}

.active {
    color: aliceblue;
}
